<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.StudentMapper">
    <!--开启二级缓存-->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache">-->
    <cache type="com.zking.ssm.redis.RedisCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>

    <resultMap id="BaseResultMap" type="com.zking.ssm.model.Student">
        <constructor>
            <idArg column="sid" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sname" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sname_pinyin" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="age" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="rows" type="com.zking.ssm.model.Student">
        <id column="sid" property="sid" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="sname" property="sname" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="sname_pinyin" property="snamePinyin" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="age" property="age" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>
    <sql id="Base_Column_List">
    sid, sname, sname_pinyin, age, remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_student
        where sid = #{sid,jdbcType=INTEGER}
    </select>
    <select id="load" resultType="com.zking.ssm.model.Student">
        SELECT * FROM t_student
        WHERE sid = #{sid,jdbcType=INTEGER}
    </select>
    <select id="list" parameterType="com.zking.ssm.model.Student" resultMap="rows">
        SELECT * FROM t_student WHERE 1=1
        <if test="sname != null and ''!=sname">
            and sname like concat('%',#{sname,jdbcType=VARCHAR},'%')
        </if>
        <if test="minAge != null">
            and age &gt;= #{minAge,jdbcType=INTEGER}
        </if>
        <if test="maxAge != null">
            and age &lt;= #{maxAge,jdbcType=INTEGER}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
    <delete id="del" parameterType="com.zking.ssm.model.Student">
        DELETE FROM t_student
        where sid=#{sid,jdbcType=INTEGER}
    </delete>
    <delete id="dels" parameterType="com.zking.ssm.model.Student">
        DELETE FROM t_student
        where sid in
        <foreach item="item" collection="sids" separator="," open="(" close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.zking.ssm.model.Student">
    insert into t_student (sname, sname_pinyin,
      age, remark)
    values (#{sname,jdbcType=VARCHAR}, #{snamePinyin,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zking.ssm.model.Student">
        insert into t_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                sid,
            </if>
            <if test="sname != null">
                sname,
            </if>
            <if test="snamePinyin != null">
                sname_pinyin,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                #{sid,jdbcType=INTEGER},
            </if>
            <if test="sname != null">
                #{sname,jdbcType=VARCHAR},
            </if>
            <if test="snamePinyin != null">
                #{snamePinyin,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.Student">
        update t_student
        <set>
            <if test="sname != null">
                sname = #{sname,jdbcType=VARCHAR},
            </if>
            <if test="snamePinyin != null">
                sname_pinyin = #{snamePinyin,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where sid = #{sid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.Student">
    update t_student
    set sname = #{sname,jdbcType=VARCHAR},
      sname_pinyin = #{snamePinyin,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>